body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
}

.box {
    border: 1px solid black;
}

.btns-container {
    display: flex;
    justify-content: space-around;
}

.btns-container button {
    background-color: rgb(77, 115, 165);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.6em 1.6em;
    margin-top: 1em;
    cursor: pointer;
}
